.titulofuncionalidad {
    color: white;
    text-align: center;
}

.subtitulofuncionalidad {
    color: white;
    text-align: center;
    margin-top: 40px;
}

.inputfuncionalidad{
    margin-top: 50px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 25px;
}

.marcotemporal{
    background: rgb(0,15,36);
    background: radial-gradient(circle, rgba(0,15,36,1) 0%, rgba(9,14,121,1) 35%, rgba(141,0,255,1) 100%);
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 12px;
    border: white 2px solid;
}

.definicion{
    color: white;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.resultado {
    font-size: 25px;
    color: white;
    text-align: center;
}

