* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.principal{
  background-color: #2e2e2e;
}

.error{
  margin-top: 50px;
}

.error2{
  margin-bottom: 50px;
}