* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

#tsparticles{
  position: fixed;
  width: 100%;
  z-index:-1;
}

.perfil{
  width: 300px;
  height: 300px;
  transition: transform 1s;
}

.perfil:hover {
  transform: scale(1.1);
}

.error{
  margin-top: 50px;
}

.error2{
  margin-bottom: 50px;
}